{% extends "admin/base_site.html" %}
{% load i18n static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

<head>
    <link rel="stylesheet" href="{% static 'css/atropos.min.css' %}">
</head>
{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content_title %} {% trans 'Dashboard' %} {% endblock %}




{% block content %}
    {% get_side_menu using="app_list" as dashboard_list %}
    {% if dashboard_list %}
        {% widthratio dashboard_list|length 2 1 as middle %}
    {% endif %}


    <div class="col-lg-9 col-12">

    <!-- Banner at the top -->
    <div class="row  align-items-center pt-5 mb-5" style="background-color: rgba(193, 196, 227, 0.3);">
        <div class="col-md-6 col-sm-12">
            <div style="text-align: center; font-size: 1.5em; color: #C48288; margin-bottom: 50px; font-weight: bold;">
                <strong>¡Descubre lo que la secretaria de mujeres tiene para ofrecerte!</strong> 
                <br> 
                <a href="https://www.semujeres.cdmx.gob.mx/" target="_blank" style="color: #3F4B7F; text-decoration: none; font-size: 1.4em;" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">Haz click aquí</a> para acceder a la página oficial.
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div style="text-align: center; margin-bottom: 50px;">
                <img src="{% static 'img/mujer.png' %}" alt="Descripción de la imagen" style="max-width: 100%; height: auto; border-radius: 30px;">
            </div>
        </div>
    </div> 



        <div class="row">
            <div class="col-md-6 col-sm-12">
                {% for app in dashboard_list %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">{{ app.name }}</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-sm">
                                <tbody>
                                {% for model in app.models %}
                                    <tr>
                                        <td>
                                            {% if model.url %}<a href="{{ model.url }}">{{ model.name }}</a>{% else %}{{ model.name }}{% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group float-right">
                                                {% if model.add_url %}
                                                    <a href="{{ model.add_url }}" class="btn btn-xs {{ jazzmin_ui.button_classes.success }} addlink">{% trans 'Add' %}</a>
                                                {% endif %}
                                                {% if model.url %}
                                                    {% if model.view_only %}
                                                        <a href="{{ model.url }}" class="btn btn-xs {{ jazzmin_ui.button_classes.info }} viewlink">{% trans 'View' %}</a>
                                                    {% else %}
                                                        <a href="{{ model.url }}" class="btn btn-xs {{ jazzmin_ui.button_classes.info }} changelink">{% if model.custom %}{% trans 'Go' %}{% else %}{% trans 'Change' %}{% endif %}</a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    {% if forloop.counter == middle|add:"0" %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                    {% endif %}

                {% endfor %}
                </div>
        </div>

 

    <!-- Sección de Analytics -->
    <h2 class="mt-5 text-center">Analytics</h2>
    <div class="row align-items-center mt-5">
        <div class="col-md-6 text-center">
            <p  style="text-align: justify; font-size: 1.5em; color: #C48288; margin-bottom: 50px; font-weight: bold;">
                Te invitamos a descubrir la sección de Analytics, donde podrás visualizar análisis gráficos detallados
                que transforman los datos de las fundaciones en insights claros. Navega por nuestras diversas
                visualizaciones para obtener una comprensión más profunda y efectiva de las tendencias y
                métricas clave. ¡Explora ahora y toma decisiones informadas con mayor confianza!</p>
        </div>
        <div class="col-md-6 text-center">

            <div class="atropos my-atropos">
                <!-- scale container (required) -->
                <div class="atropos-scale">
                  <!-- rotate container (required) -->
                  <div class="atropos-rotate">
                    <!-- inner container (required) -->
                    <div class="atropos-inner">
                      <!-- put your custom content here -->
                        <a href="{% url 'lista_fundaciones' %}" target="_blank">
                        <img src="{% static 'img/analytics.png' %}" alt="Analytics" class="img-fluid" data-atropos-offset="5">
                        <p>Ver Analytics</p>
                    </a>
                    </div>
                  </div>
                </div>
              </div>


        </div>
    </div>


        <!-- Sección de Contactos -->
        <h2 class="mt-5 text-center">Contactos</h2>
        <div class="row align-items-center mt-5">
            <div class="col-md-4 text-center">
                <a href="http://locatel.cdmx.gob.mx/mujeres/"  target="_blank">
                    <img src="{% static 'img/linea_mujeres.png' %}" alt="Psicólogas" class="img-fluid">
                    <p>Psicólogas</p>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://www.semujeres.cdmx.gob.mx/abogadas-de-las-mujeres"  target="_blank">
                    <img src="{% static 'img/abogada.png' %}" alt="Abogadas" class="img-fluid">
                    <p>Abogadas</p>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://www.semujeres.cdmx.gob.mx/lunas"  target="_blank">
                    <img src="{% static 'img/lunas.png' %}" alt="Lunas" class="img-fluid">
                    <p>Lunas</p>
                </a>
            </div>
        </div>
    </div>


    <!-- History -->
    <div class="col-lg-3 col-12">
        <div id="content-related">
            <div class="module" id="recent-actions-module">
                <h4 class="mb-3">{% trans 'Recent actions' %}</h4>
                {% load log %}
                {% get_admin_log 6 as admin_log for_user user %}
                {% if not admin_log %}
                    <p>{% trans 'None available' %}</p>
                {% else %}
                    <div class="timeline">
                        {% for entry in admin_log %}
                            <div>
                                {% if entry.is_change %}
                                    <i class="fas fa-edit bg-gray text-xs"></i>
                                {% elif entry.is_deletion %}
                                    <i class="fas fa-trash bg-danger text-xs"></i>
                                {% elif entry.is_addition %}
                                    <i class="fas fa-plus-circle bg-success text-xs"></i>
                                {% endif %}

                                <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i> {% blocktrans with timesince=entry.action_time|timesince %}{{ timesince }} ago{% endblocktrans %}</span>
                                    <h3 class="timeline-header no-border">
                                        {% if entry.is_deletion or not entry.get_admin_url %}
                                            {{ entry.object_repr }}
                                        {% else %}
                                            <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                                        {% endif %}

                                        {% if entry.model %}
                                            <span class="mini quiet">
                                                {% filter capfirst %}
                                                    {{ entry.model }}
                                                {% endfilter %}
                                            </span>
                                        {% endif %}
                                    </h3>
                                    {% if not entry.is_deletion %}
                                        <div class="timeline-body">
                                            {% if entry.is_addition %}
                                                {{ entry }}
                                            {% else %}
                                                <ul style="list-style: none; padding: 0;">
                                                    {% action_message_to_list entry as action_message_list %}
                                                    {% for action_message in action_message_list %}
                                                        <li>{{ action_message.msg|style_bold_first_word }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div>
                            <i class="fa fa-clock bg-gray"></i>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Scripts de Atropos.js -->
    <script src="{% static 'js/atropos.min.js' %}"></script>
    <script>
        document.querySelectorAll('.my-atropos').forEach(function(el) {
            Atropos({
                el: el,
                shadowOffset: 30,
                shadowScale: 0.5,
            });
        });
    </script>
  

{% endblock %}